//1.-Se debe desargar el contenido desde 'bootstrap' en el apartado 'Source files'
//2.-Copiar la carpeta 'scss' a tu carpeta 'CSS' y buscar los archivos 'functions' y 'variables'
//Importar funciones y variables de Bootstrap necesarias antes de importar todo
@import './scss/functions';
//Importante: debe importarse después de definir $theme-colors
@import './scss/variables';

//Aquí estoy creando un nuevo mapa de colores dentro de 'bootstrap' instalado en mi proyecto
//Esto solo funciona cuando instalamos bootstrap en nuestro proyecto 
$theme-colors: map-merge($theme-colors, (
    'pale-blue':hsl(225, 100%, 94%),
    'bright-blue':hsl(245, 75%, 52%),
    'very-pale-blur':hsl(225, 100%, 98%),
    'desaturated-blue':hsl(224, 23%, 55%),
    'dark-blue':hsl(223, 47%, 23%),
));

//Importar el resto de 'bootstrap'
@import './scss/bootstrap.scss';

//fuente global del proyecto
*{
    font-family: "Red Hat Display", sans-serif;
}

body{
    background-color: url('../IMG/pattern-background-desktop');
    background-position: top;
    background-repeat: no-repeat;
}